.subTitle{
  font-weight: 300;
  font-size: 3rem;
  padding: 3rem 0 1rem 0;
}
.steps {
  margin: 30px 40px
}

.numbers {
  font-size: 4rem;
  font-weight:400;
  padding-bottom: 1rem;
  border-bottom: solid 5px #50e2c0;
}

.stepsTitle {
  margin-top: 3.5rem;
  font-weight: 400;
  font-size: 1.1rem;
}
