<!-- Body/CTA -->
<div class="bgImg">
  <div class="viewContainer">
    <div class="cta">
      <div class="imgSpace"></div>
      <app-cta-copy copy="New Games & Accessories"></app-cta-copy>
      <app-headline headline="Monthy packages."></app-headline>
      <app-headline headline="Excitement Delivered daily."></app-headline>
      <app-cta-copy copy="What’s the best way to shop for the latest video games and peripherals? How about never shopping at all? You’ll
      get new stuff on your doorstep — every month."></app-cta-copy>
      <app-cta-button cta="GET STARTED">
      </app-cta-button>
    </div>
  </div>
</div>