.headlineText {
  font-size: 2rem;
  margin: 0;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .headlineText {
  font-size: 3rem;
  margin: 0;
}
 
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .headlineText {
    font-size: 3.5rem;
    margin: 0;
  }
 
}